/bin/
/obj/

*.user
*.suo
*.sln.docstates

*.tmp
*.log

.vs/
*.vscode/

*.nupkg
packages/
project.lock.json
project.fragment.lock.json
*.dotnet/
dotnet-tools.json

node_modules/
dist/

appsettings.Development.json
appsettings.Production.json
appsettings.json
*.env

*.dll
*.exe
*.pdb
*.mdb
*.db