$white-color: #fff;
$black-color: #000;
$main-color: #e41748;
$hover-main-color: #b50832;
$second-color: #8a8a8a;
$white-text: #ececff;
$disabled-color: #b1b1b1;

$main-bg: #313131;
$second-bg: #1b1b1b;
$third-bg: #434343;
